@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



body {
    margin: 0px;
}

h1 {
    font-size: 2em;
    font-family: 'Wix Madefor Display', sans-serif;
}

p {
    font-family: 'Lora', serif;
}

#header-overlap {
    position: absolute;
    overflow: hidden;
    height: 70vh;
    width: 100%;
}

#header-overlap-shadow {
    box-shadow: inset 0 0 2em #000000b8;
    position: relative;
    top: -100vh;
    width: 120vw;
    height: 170vh;;
}

#header {
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#header img {
    height: 100vh;
}

#catalog {
    position: absolute;
    top: 0px;
    width: calc(100% - 5em);
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
    display: flex;
    justify-content: right;
    padding-right: 5em;
    font-family: sans-serif;
    z-index: 2;
    height: 5em;
}

#catalog a {
    transition: 300ms;
    font-size: 2em;
    padding: 0.5em;
    color: white;
}

#catalog a:hover {
    padding-top: 1em;
}

#title {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    z-index: 0;
    color: white;
    font-size: 3em;
    text-shadow: 0em 0em 1em black;
}

#title h1 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#content {
    position: relative;
    height: 100vh;
    background-color: white;
    z-index: 1;
    color: rgb(40, 40, 40)
}

.tinted-background {
    background-color: #fff9f2;
}

.section {
    width: calc(100%-6em);
    display: flex;
    padding: 3em;
    flex-direction: column;
}

#services {
    min-height: calc(30vh - 6em);
    padding-left: 15em;
}

#services h1 {
    margin: 0em 0em 0.5em 0em;
    font-size: 3em;
}

#services p {
    font-size: 1.5em;
    margin-bottom: 0em;
}

#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#after-image {
    width: 60vw;
}

#before-image {
    position: absolute;
    overflow: hidden;
    width: 50%;
    top: 0px;
}

#before-image > img {
    width: 60vw;
}

.display {
    position: relative;
    width: 60vw;
    height: max-content;
}

.display input {
    position: absolute;
    left: -0.82em;
    z-index: 2;
    height: 0px;
    width: calc(100% + 1.5em);
}

#selector {
    width: 20vh;
    height: 80vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: 5vw;
    transform: rotateZ(90deg);
    position: relative;
    left: 20vw;
    top: -20vw;
}

#selector img {
    height: 15vh;
    transform: rotateZ(180deg);
}

.slector-img-wrapper {
    width: 20vw;
    height: 15vw;
    overflow: hidden;
    transform: rotateZ(90deg);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact table {
    font-family: 'Lora', serif;
    font-size: 1.5em;
}

#contact td {
    padding-right: 0.5em;
}

#contact h1 {
    width: max-content;
}

#footer {
    position: relative;
    height: 10vh;
    background-color: #5e5449;
}

#credit {
    position: absolute;
    bottom: 1em;
    right: 2em;
    color: white;
    font-size: 1.3em;
}